Repository lazarkulasevic/react-vite-pnpm-material-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write ., eslint --config .eslintrc --color --ext .ts,.tsx,.js,.jsx,.cjs 'src/'

improvement(Tooling): Husky hooks configs
  .husky/commit-msg
  .husky/pre-commit
  README.md
  package.json
Due: prettier --config .prettierrc --write .

docs(Favicon): Vitejs icon added
  index.html
  public/logo.svg
Due: prettier --config .prettierrc --write .

docs: Readme update
  README.md
Due: prettier --config .prettierrc --write .

Tooling (#2)
  .commitlintrc
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  README.md
  _templates/page/with-prompt/core_index.ejs.t
  _templates/page/with-prompt/index.ejs.t
  _templates/page/with-prompt/page.ejs.t
  _templates/page/with-prompt/prompt.cjs
  _templates/page/with-prompt/styled.ejs.t
  index.html
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/logo.svg
  src/components/index.ts
Due: prettier --config .prettierrc --write ., eslint --config .eslintrc --color --ext .ts,.tsx,.js,.jsx,.cjs 'src/'

Update vite.config.ts
  vite.config.ts
Due: prettier --config .prettierrc --write ., eslint --config .eslintrc --color --ext .ts,.tsx,.js,.jsx,.cjs 'src/'

refactor: Removed pnpm-workspace
  pnpm-workspace.yaml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

chore: Updated dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc --write .

chore: Formatted dependabot.yml
  .github/dependabot.yml
Due: none

chore: Updated dependabot.yml
  .github/dependabot.yml
Due: none

docs: Upadated readme
  README.md
Due: prettier --config .prettierrc --write .

docs: Updated README.md
  README.md
Due: prettier --config .prettierrc --write .

Path conditions:
  prettier --config .prettierrc --write .: any of: *.{tsx,ts,jsx,js,cjs,json,md,html,scss,ejs,sh}
  eslint --config .eslintrc --color --ext .ts,.tsx,.js,.jsx,.cjs 'src/': any of: *.{tsx,ts,jsx,js,cjs}
